$thickness: 0.3rem;
$responsive-thickness: 0.75vw;
$duration: 2500;
$boook-count: 6;
$delay: $duration/$boook-count;
$book-space: 5%;
$book-width: (100%/$boook-count)-$book-space;
$book-offset: (100%+$book-space+$book-width)*$boook-count+100%-$book-width;
@mixin polka($size, $dot, $base, $accent) {
  background         : $base;
  background-image   : radial-gradient($accent $dot, transparent 0);
  background-size    : $size $size;
  background-position: 0 -2.5px;
}
.bookshelf_wrapper {
  position  : absolute;
  top       : 60%;
  left      : 50%;
  transform : translate(-50%, -50%);
  width     : 50vw;
  max-width : 50vh;
  height    : 50vw;
  max-height: 50vh;
}
.books_list {
  margin  : 0 auto;
  padding : 0;
  width   : 100%;
  height  : 100%;
  top     : -50%;
  position: relative;
}
.book_item {
  position        : absolute;
  bottom          : 0;
  height          : 40%;
  list-style      : none;
  width           : $book-width;
  opacity         : 0;
  background-color: white;
  border          : $thickness solid $body-color;
  transform-origin: bottom left;
  animation       : travel #{$duration}ms linear infinite;
  &.first {
    height: 50%;
    &:before,
    &:after {
      content         : '';
      position        : absolute;
      top             : 5%;
      left            : -$thickness/2;
      right           : -$thickness/2;
      height          : $thickness;
      background-color: $body-color;
    }
    &:after {
      top   : initial;
      bottom: 5%;
    }
  }
  &.second,
  &.fifth {
    &:before,
    &:after {
      content      : '';
      position     : absolute;
      top          : 5%;
      left         : -$thickness/2;
      right        : -$thickness/2;
      height       : $thickness*2.5;
      border-top   : $thickness solid $body-color;
      border-bottom: $thickness solid $body-color;
    }
    &:after {
      top   : initial;
      bottom: 5%;
    }
  }
  &.third {
    &:before,
    &:after {
      content      : '';
      position     : absolute;
      top          : 8%;
      left         : 50%;
      transform    : translateX(-50%);
      width        : 0;
      height       : 0;
      border-radius: 50%;
      border       : $thickness solid $body-color;
    }
    &:after {
      top   : initial;
      bottom: 8%;
    }
  }
  &.fourth {
    height: 43%;
    &:before {
      content      : '';
      position     : absolute;
      top          : 50%;
      transform    : translateY(-50%);
      left         : -$thickness/2;
      right        : -$thickness/2;
      height       : $thickness*3.5;
      border-top   : $thickness solid $body-color;
      border-bottom: $thickness solid $body-color;
    }
  }
  &.fifth {
    height: 33%;
  }
  &.sixth {
    height: 47%;
    &:before {
      content         : '';
      position        : absolute;
      bottom          : 20%;
      left            : -$thickness/2;
      right           : -$thickness/2;
      height          : $thickness;
      background-color: $body-color;
    }
    &:after {
      content      : '';
      position     : absolute;
      bottom       : 6%;
      left         : 50%;
      transform    : translateX(-50%);
      width        : 0;
      height       : 0;
      border-radius: 50%;
      border       : $thickness solid $body-color;
    }
  }
  &:nth-child(2) {
    animation-delay: #{$delay*1}ms;
  }
  &:nth-child(3) {
    animation-delay: #{$delay*2}ms;
  }
  &:nth-child(4) {
    animation-delay: #{$delay*3}ms;
  }
  &:nth-child(5) {
    animation-delay: #{$delay*4}ms;
  }
  &:nth-child(6) {
    animation-delay: #{$delay*5}ms;
  }
}
.shelf {
  width           : 100%;
  height          : $thickness;
  margin          : 0 auto;
  background-color: $body-color;
  position        : relative;
  top             : -50%;
  &:before,
  &:after {
    content  : '';
    position : absolute;
    width    : 100%;
    height   : 100%;
    @include polka(10px, 30%, white, rgba($body-color,0.5));
    top      : 200%;
    animation: move #{$duration/10}ms linear infinite;
  }
  &:after {
    top: 400%;
  }
}
@keyframes move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 10px;
  }
}
@keyframes travel {
  0% {
    opacity  : 0;
    transform: translateX($book-offset) translateY(-50%) scaleY(1.1) scaleX(0.9) rotateZ(0deg);
  }
  6.5% {
    transform: translateX(0.935*$book-offset) translateY(0) scaleY(0.8) scaleX(1.2) rotateZ(2deg);
  }
  8.8% {
    transform: translateX(0.92*$book-offset) scaleY(1) scaleX(1) rotateZ(-3deg);
    opacity  : 1;
  }
  10% {
    transform: translateX(0.9*$book-offset) rotateZ(-10deg);
  }
  17.6% {
    transform: translateX(0.824*$book-offset) rotateZ(-30deg);
  }
  45% {
    transform: translateX(0.55*$book-offset) rotateZ(-35deg);
  }
  49.5% {
    transform: translateX(0.505*$book-offset) rotateZ(-45deg);
  }
  61.5% {
    transform: translateX(0.385*$book-offset) rotateZ(-50deg);
    opacity  : 1;
  }
  67% {
    transform: translateX(0.33*$book-offset) rotateZ(-60deg);
  }
  76% {
    transform: translateX(0.24*$book-offset) rotateZ(-66deg);
  }
  83.5% {
    transform: translateX(0.165*$book-offset) rotateZ(-90deg);
  }
  100% {
    opacity  : 0;
    transform: translateX(0) rotateZ(-130deg);
  }
}
@media (max-width: 40rem) {
  .book_item {
    border-width: $responsive-thickness;
    &.first {
      &:before,
      &:after {
        height: $responsive-thickness;
        left  : -$responsive-thickness/2;
        right : -$responsive-thickness/2;
      }
    }
    &.second,
    &.fifth {
      &:before,
      &:after {
        left               : -$responsive-thickness/2;
        right              : -$responsive-thickness/2;
        height             : $responsive-thickness*2.5;
        border-top-width   : $responsive-thickness;
        border-bottom-width: $responsive-thickness;
      }
    }
    &.third {
      &:before,
      &:after {
        border-width: $responsive-thickness;
      }
    }
    &.fourth {
      &:before {
        left               : -$responsive-thickness/2;
        right              : -$responsive-thickness/2;
        height             : $responsive-thickness*3.5;
        border-top-width   : $responsive-thickness;
        border-bottom-width: $responsive-thickness;
      }
    }
    &.sixth {
      &:before {
        left  : -$responsive-thickness/2;
        right : -$responsive-thickness/2;
        height: $responsive-thickness;
        height: $responsive-thickness;
      }
      &:after {
        border-width: $responsive-thickness;
      }
    }
  }
  .shelf {
    height: $responsive-thickness;
  }
}
