@font-face {
  font-family: 'gidoleregular';
  src        : url("../fonts/gidole-regular.woff2") format('woff2'),
               url("../fonts/gidole-regular.woff") format('woff'),
               url("../fonts/gidole-regular.ttf") format('truetype');
  font-weight: normal;
  font-style : normal;
}

// Core variables and mixins
@import "custom/variables";
@import "booty/mixins";

// // Reset and dependencies
@import "booty/normalize";
@import "booty/print";

// Core CSS
@import "booty/reboot";
@import "booty/type";
@import "booty/images";
@import "booty/code";
@import "booty/grid";
@import "booty/tables";
@import "booty/forms";
@import "booty/buttons";

// // Components
@import "booty/animation";
@import "booty/dropdown";
@import "booty/button-group";
@import "booty/input-group";
@import "booty/custom-forms";
@import "booty/nav";
@import "booty/navbar";
@import "booty/card";
@import "booty/breadcrumb";
@import "booty/pagination";
@import "booty/pager";
@import "booty/labels";
@import "booty/jumbotron";
@import "booty/alert";
@import "booty/progress";
@import "booty/media";
@import "booty/list-group";
@import "booty/responsive-embed";
@import "booty/close";

// Components w/ JavaScript
@import "booty/modal";
@import "booty/tooltip";
@import "booty/popover";
@import "booty/carousel";

// Utility classes
@import "booty/utilities";
@import "booty/utilities-spacing";
@import "booty/utilities-responsive";

// Custom stuff
@import "custom/stickyfooter";

html, body {
    height  : 100%;
    overflow: hidden;
}

*, *:focus, *:active {
  user-select: none;
  -webkit-touch-callout: none;
}

*:focus {
  outline: none!important;
}

.panel {
  height: 100%;
  width: 100%;
}

.pcolor-0 {
  background: $pcolor-0;
}
.pcolor-1 {
  background: $pcolor-1;
}
.pcolor-2 {
  background: $pcolor-2;
}
.pcolor-3 {
  background: $pcolor-3;
}
.pcolor-4 {
  background: $pcolor-4;
}

.btn-startgame, .player-icon, .pulse {
  border-width: 2px;
  border-style: solid;
  &.pcolor-0 {
    color: $pcolor-0;
    border-color: $pcolor-0;
  }
  &.pcolor-1 {
    color: $pcolor-1;
    border-color: $pcolor-1;
  }
  &.pcolor-2 {
    color: $pcolor-2;
    border-color: $pcolor-2;
  }
  &.pcolor-3 {
    color: $pcolor-3;
    border-color: $pcolor-3;
  }
  &.pcolor-4 {
    color: $pcolor-4;
    border-color: $pcolor-4;
  }
}

.word-list {
  .word {
    display: inline-block;
    border-radius: 5px;
    color: $pcolor-0;
    background: #fff;
    line-height: 1.9rem;
    padding: 0 10px;
    margin: 0 5px 5px 0;
  }
}

.submit-button {
  visibility: hidden;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  background: $pcolor-0;
  height: 10px;
  width: 0%;
}

.btn-startgame, .player-icon {
  transition  : 1s ease-in;
}

.btn-startgame, .pulse {
  position: absolute;
  left: 50%;
  bottom: 3rem;
  margin: 0 0 0 -5rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  padding: 3rem 2rem;
  white-space: normal;
  &:active {
    color: #fff;
  }
  &.pcolor-0, &.pcolor-1, &.pcolor-2, &.pcolor-3, &.pcolor-4 {
    &:not(:active) {
      background: none;
    }
  }
  &.btn-default {
    background: none;
    border-color: $pcolor-0;
    color: $pcolor-0;
    &:active {
      transition: 0s;
      color: #fff;
      background: $pcolor-0;
    }
  }
}

.pulse {
  border-width : 10px;
  bottom: -12rem;
  margin: 0 0 0 -20rem;
  width: 40rem;
  height: 40rem;
  opacity: 0.0;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
  perspective: 1000;
  &.active {
    &#onePulse {
      animation: pulse 3s 0s ease-out infinite;
    }
    &#twoPulse {
      animation: pulse 3s 0.3s ease-out infinite;
    }
    &#treePulse {
      animation: pulse 3s 0.6s ease-out infinite;
    }
  }
}


@keyframes "pulse" {
 0% {
    transform: scale(.25);
    opacity: 0.0;
 }
 10% {
    opacity: 0.6;
 }
 30% {
   opacity: 0.1;
 }
 100% {
    transform: scale(1);
    opacity: 0.0;
 }
}
.player-icon {
  display      : inline-block;
  width        : 2rem;
  height       : 2rem;
  border-radius: 50%;
  &:not(:last-child) {
    margin-right: .5rem;
  }
  &.pcolor-0, &.pcolor-1, &.pcolor-2, &.pcolor-3, &.pcolor-4 {
    &:not(.ready) {
      background: none;
    }
  }
}

h1,
h2,
h3,
h4 {
  letter-spacing: -0.02em;
}
p {
  letter-spacing: 0.05em;
}
