@font-face {
  font-family: 'gidoleregular';
  src        : url("../fonts/gidole-regular.woff2") format('woff2'),
               url("../fonts/gidole-regular.woff") format('woff'),
               url("../fonts/gidole-regular.ttf") format('truetype');
  font-weight: normal;
  font-style : normal;
}

// Core variables and mixins
@import "custom/variables";
@import "booty/mixins";

// // Reset and dependencies
@import "booty/normalize";
@import "booty/print";

// Core CSS
@import "booty/reboot";
@import "booty/type";
@import "booty/images";
@import "booty/code";
@import "booty/grid";
@import "booty/tables";
@import "booty/forms";
@import "booty/buttons";

// // Components
@import "booty/animation";
@import "booty/dropdown";
@import "booty/button-group";
@import "booty/input-group";
@import "booty/custom-forms";
@import "booty/nav";
@import "booty/navbar";
@import "booty/card";
@import "booty/breadcrumb";
@import "booty/pagination";
@import "booty/pager";
@import "booty/labels";
@import "booty/jumbotron";
@import "booty/alert";
@import "booty/progress";
@import "booty/media";
@import "booty/list-group";
@import "booty/responsive-embed";
@import "booty/close";

// Components w/ JavaScript
@import "booty/modal";
@import "booty/tooltip";
@import "booty/popover";
@import "booty/carousel";

// Utility classes
@import "booty/utilities";
@import "booty/utilities-spacing";
@import "booty/utilities-responsive";

// Custom stuff
@import "custom/stickyfooter";
html, body {
    height  : 100%;
    overflow: hidden;
}

*:focus {
  outline: none!important;
}


.panel {
  height: 100%;
  width: 100%;
}

.btn-startgame {
  position: absolute;
  left: 50%;
  bottom: 40px;
  margin: 0 0 0 -100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: #fff;
  padding: 70px 40px;
  white-space: normal;
  opacity: 0.3;

  &.active {
    opacity: 1;
  }
}

.player-icon {
  display      : inline-block;
  width        : 30px;
  height       : 30px;
  border-radius: 50%;
  opacity: 0.3;
  transition: opacity 2s ease-in;

  &.ready {
    opacity: 1;
  }
}
.pcolor-0 {
  background: hsla(19, 85%, 50%, 1);
}
.pcolor-1 {
  background: hsla(189, 62%, 43%, 1);
}
.pcolor-2 {
  background: hsla(43, 90%, 54%, 1);
}
.pcolor-3 {
  background: hsla(137, 62%, 61%, 1);
}
.pcolor-4 {
  background: hsla(252, 27%, 52%, 1);
}
h1,
h2,
h3,
h4 {
  letter-spacing: -0.02em;
}
p {
  letter-spacing: 0.05em;
}
